#username:valid,
#email:valid,
#password:valid

{
    background-color: lightblue;
}

#username:invalid,
#email:invalid,
#password:invalid
{
    background-color: lightpink;
}
#email2:valid,
#username2:valid
{
    background-color: lightgray;
}

#username2:invalid,
#email2:invalid {
    background-color:  lightgreen;
}
